<div class="page-header">
	<h3>Create Social Event</h3>
	<span ng-show="!!vm.locatationSelected"class="alert alert-success pull-right">
		<p>Location has been selected!</p>
	</span>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h4>Fill out the form and click on the map for location of event</h4>
		</div>
		<div class="event-form">
			<form novalidate ng-submit="vm.createEvent()" name="event-form">
				<div class="form-group">
					<label>Title</label>
					<input class="form-control" ng-model="vm.newEvent.title"></input>
				</div>

				<div class="form-group">
					<label>Event Description</label>
					<textarea class="form-control" ng-model="vm.newEvent.about" ></textarea>
				</div>


				<div class="form-group">
					<label>Event Date</label>
					<div class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup={{vm.format}} ng-model="vm.newEvent.date" 
						is-open="vm.status.opened" show-button-bar="false" placeholder="click icon to pick date">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.open($event)">
									<i class="glyphicon glyphicon-calendar">
									</i>
								</button>
							</span>
						</input>
					</div>
				</div>
				

				<div class="event-button-group">
					<button class="btn btn-success" type="submit">Create</button>
					<a ng-href="#/" class="btn btn-warning">Cancel</a>
				</div>
				
				

			</form>
		</div>


	</div>


	<div class="col-md-6">
		<div class="pull-right">
			<div id="googleMap"></div>
		</div>
		
		


	</div>
</div>