<div class="row">
	<div class="col-sm-6">
		
		<div class="page-headerd">
			<h3>{{vm.event.title}} event</h3>
			<hr>
		</div>

		<div class="event-part">
			<h4><em>When</em></h4>
			{{ vm.event.date | date: 'MMMM dd, yyyy'}}
		</div>

		<div class="event-part">
			<h4><em>Where</em></h4>
			<p>{{ vm.event.location }} (see map)</p>
		</div>

		<div class="event-part">
			<h4><em>Description</em></h4>
			<p>{{ vm.event.about }}</p>
		</div>

	</div>

	<div class="col-sm-6">
		<div class="tabs-container">
			<uib-tabset>
				<uib-tab heading="Google Map" disable="tab.disabled">
			      <div class="tab-container">
			      	<p class="pull-right-lg">See location of {{ vm.event.title }} event</p>
			      </div>
			      <div class="pull-right-lg map-container">
			      	<div id="googleMap"></div>
			      </div>
			    </uib-tab>
			    <uib-tab heading="Comments"  disable="tab.disabled">
    	  			<div class="tab-container col-md-push-2 col-md-10">
	    	  			<p ng-hide="!!vm.event.comments.length">No comments yet. Click to add</p>
						<ul class="list-group" ng-repeat="cm in vm.event.comments">
							<li class="list-group-item">
								<!--<span class="pull-right">{{comment.datePosted | date: 'MMMM dd, yyyy'}}</span>-->
								<h4>{{cm.text}}</h4>
								
								<div class="vote-section">
									<i ng-click="vm.upvote(cm)" class="hover fa fa-thumbs-up"> {{ cm.upVotes.length }}</i>
									<i ng-click="vm.downvote(cm)" class="hover fa fa-thumbs-down"> {{ cm.downVotes.length }}</i>
								</div>
								<p>Posted by <em>{{cm.author}}</em>, {{cm.datePosted | date: 'MMMM dd, yyyy'}}</p>
								
							</li>
						</ul>
						<button class="btn btn-info pull-right" ng-click="vm.addComment()">Add Comment</button>
					</div>
			    </uib-tab>
  			</uib-tabset>
  		</div>
	</div>
</div>