<div>
	<div class="page-header">
		<h3>Profiles</h3>
	</div>

	<a href="" ng-show="!vm.listview" ng-click="vm.listview = true">View as list</a>
	<a href="" ng-show="!!vm.listview" ng-click="vm.listview = false">View as tiles</a>

	<div class="profiles-section">
		<div ng-show="!!vm.listview">
			<ul class="list-group" ng-repeat="pf in vm.profiles" ng-click="vm.detailsView(pf)">
				<li class="list-group-item">{{pf.username}}</li>
				<li class="list-group-item">{{pf.gender}}</li>
				<li class="list-group-item">{{pf.yearOfBirth}}</li>
				<li class="list-group-item">{{pf.city}}</li>
			</ul>
		</div>

		<div ng-repeat="pf in vm.profiles" ng-show="!vm.listview">

				<a ui-sref="profile({ username: pf.username })" class="profile" ng-show="!vm.listview">
					<div class="col-sm-6 text">
						<h3>{{ pf.firstName }}</h3>
						<p>{{pf.gender}} {{pf.age }} years</p>
						<span>Lives in {{pf.city}}</span>
						<div class="interest-container bottum-aligned">
							<h3>Interests</h3>
							<div class="interest-label" ng-repeat="i in pf.interests">{{i}}</div>
						</div>
					</div>
					<div ng-show="!!pf.imageUrl" class="col-sm-6 picture">
						<img ng-src="/photos/{{pf.imageUrl}}"/>
						<!--<img src="http://placekitten.com/400/600">-->
					</div>
				</a>
		</div>
		
		
	</div>
	
</div>