<div>
	<div class="page-header">
		<h3>Profiles</h3>
	</div>

	<a href="" ng-show="!vm.listview" ng-click="vm.listview = true">View as list</a>
	<a href="" ng-show="!!vm.listview" ng-click="vm.listview = false">View as tiles</a>

	<div class="profiles-section">
		<div ng-show="!!vm.listview">
			<ul class="list-group" ng-repeat="pf in vm.profiles" ng-click="vm.gotoProfile(pf)">
				<li class="list-group-item">{{pf.username}}</li>
				<li class="list-group-item">{{pf.gender}}</li>
				<li class="list-group-item">{{pf.yearOfBirth}}</li>
				<li class="list-group-item">{{pf.city}}</li>
			</ul>
		</div>

		<div ng-repeat="pf in vm.profiles" ng-show="!vm.listview">
			<div ng-click="vm.gotoProfile(pf)" class="col-md-4 profile">
				<div class="row">
					<div class="col-md-7">
							<img class="img-circle" ng-src="/photos/{{pf.imageUrl || 'dummy.jpg' }}"/>
					</div>
					<div class="col-md-5">
						<h4>{{ pf.firstName }}</h4>
						<p>from {{pf.city}}</p>
						<div>
							<div class="interest-label" ng-repeat="i in pf.interests">{{i}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>