<div>
	<div class="jumbotron">
		<h2>The FrindShip</h2>
		<p>Welcome on board the fabulous FrindShip! Hook up with new and old friends and arrange events togehter</p>
	</div>

	<a href="" ng-show="!vm.listview" ng-click="vm.listview = true">View as list</a>
	<a href="" ng-show="!!vm.listview" ng-click="vm.listview = false">View as tiles</a>

	<div class="profiles-section">
		<div ng-show="!!vm.listview">
			<table class="table table-striped table-hover">

				<tr ng-repeat="pf in vm.profiles" ng-click="vm.detailsView(pf)">
					<td>{{pf.username}}</td>
					<td>{{pf.gender}}</td>
					<td>{{pf.yearOfBirth}}</td>
					<td>{{pf.city}}</td>
				</tr>
			</table>		
		</div>

		<div ng-repeat="pf in vm.profiles" ng-show="!vm.listview">

				<a ng-href="#/detail/{{pf._id}}" class="profile row" ng-show="!vm.listview">
					<div class="col-sm-6 text">
						<h3>{{ pf.firstName }}</h3>
						<p>{{pf.gender}} {{pf.age }} years</p>
						<span>Lives in {{pf.city}}</span>
						<div class="interest-container bottum-aligned">
							<h3>Interests</h3>
							<div class="interest-label" ng-repeat="i in pf.interests">{{i}}</div>
						</div>
					</div>
					<div ng-show="!!pf.imageUrl" class="col-sm-6 picture">
						<img ng-src="/photos/{{pf.imageUrl}}"/>
						<!--<img src="http://placekitten.com/400/600">-->
					</div>
				</a>
		</div>
		
		
	</div>
	
</div>