<div>

	<div class="page-header">
		<h2><span class="fa fa-sign-in"></span> Login</h2>
	</div>

	<div class="row">
		<div class="col-md-4 col-sm-6">
			<form name="loginform" novalidate ng-submit="vm.login()">
				<div class="form-group">
					<label>Your user name</label>
					<input type="text" class="form-control" ng-model="vm.loginModel.username" required></input>
				</div>
				<div class="form-group">
					<label>Your password</label>
					<input type="password" class="form-control" ng-model="vm.loginModel.password" required></input>
				</div>
				<button type="submit" class="btn btn-info" ng-disabled="loginform.$invalid">Login</button>
				
				<a ng-href="#/" class="btn btn-warning">Back</a>
			</form>
		</div>
	</div>
</div>