<div class="page-header">
	<h3>Get acquainted with {{ vm.profile.username }}</h3>
</div>

<div class="row">
	<div class="col-md-6">
		<profile-part profile="vm.profile" field="age" text="Age"></profile-part>
		
		<profile-part profile="vm.profile" field="country" text="Country"></profile-part>
		
		<profile-part profile="vm.profile" field="city" text="City"></profile-part>
		
		<profile-part profile="vm.profile" field="description" text="About me"></profile-part>
	</div>

	<div class="col-md-6">
		<div class="image-container">
			<img class="profile-image" ng-src="/photos/{{vm.profile.imageUrl}}"/>
		</div>
	</div>
</div>