<div class="page-header">
		<h2><span class="fa fa-chevron-circle-up"></span> Sign up</h2>
	</div>

<div class="row">

	<div class="col-md-6">
		<form name="signupform" novalidate ng-submit="vm.signup()">
			<div class="form-group">
				<label>User name</label>
				<input type="text" class="form-control" ng-model="vm.signupModel.username" required></input>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="vm.signupModel.password" required></input>
			</div>
			<div class="form-group">
				<label>Repeat password</label>
				<input type="password" class="form-control" ng-model="vm.signupModel.repeatPassword"></input>
			</div>
			<button type="submit" class="btn btn-info" ng-disabled="signupform.$invalid">Sign up</button>
			<a ng-href="#/" class="btn btn-warning">Back</a>
		</form>
	</div>
</div>