<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Friendship</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/bootswatch/slate/bootstrap.min.css"/>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<header ng-controller="navbarController as vm">
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">The FriendShip</a>
                </div>

                <ul class="nav navbar-nav navbar-left">
                    <li><a ng-href="#/create-event"><i class="fa fa-star"></i> Create Event</a></li>
                    <li><a ng-href="#/events"><i class="fa fa-users"></i> Upcoming Events</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="!vm.isSignedIn"><a ng-href="#/login"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li ng-show="!vm.isSignedIn"><a ng-href="#/signup"><i class="fa fa-chevron-circle-up"></i> Sign Up</a></li>
                    <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                    <li ng-show="!!vm.isSignedIn"><a href="#/user/profile"><i class="fa fa-child"></i> Your Profile</a></li>
                    <li ng-show="vm.isSignedIn"><a ng-click="vm.signout()"><i class="fa fa-sign-in"></i> Sign Out</a></li>
                </ul>
            </div>
        </nav>
    </header>
	<div class="container">

		<div ng-view="">Loading...</div>

	</div>
<!--
	<div id="footer" class="container-fluid">
      <div class="navbar navbar-default navbar-fixed-bottom">
        <h4 class="text-center text-info">&copy; 2015 The FriendShip by Peter Larsen</h4>
      </div>
    </div>
-->
	<!--external libraries -->
	<script type="text/javascript" src="/lib/lodash/lodash.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="/lib/angular-messages/angular-messages.js"></script>
	<script type="text/javascript" src="/lib/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
	<script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload.min.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsNyjwdFd8l6xeQVOhZJT_y5MTrnO2VS0"></script>

	<!--angular app scripts -->
	<script type="text/javascript" src="/app/app.js"></script>
	<script type="text/javascript" src="/app/directives/passwordDirective.js"></script>
	<script type="text/javascript" src="/app/services/dataservice.js"></script>
	<script type="text/javascript" src="/app/services/authService.js"></script>
	<script type="text/javascript" src="/app/services/modalService.js"></script>
	<script type="text/javascript" src="/app/controllers/eventController.js"></script>
	<script type="text/javascript" src="/app/controllers/eventListController.js"></script>
	<script type="text/javascript" src="/app/services/googleMapService.js"></script>
	<script type="text/javascript" src="/app/controllers/listController.js"></script>
	<script type="text/javascript" src="/app/controllers/editProfileController.js"></script>
	<script type="text/javascript" src="/app/controllers/loginController.js"></script>
	<script type="text/javascript" src="/app/controllers/signupController.js"></script>
	<script type="text/javascript" src="/app/controllers/navbarController.js"></script>
	<script type="text/javascript" src="/app/controllers/createEventController.js"></script>
	<script type="text/javascript" src="/app/services/identityService.js"></script>
	
	
</body>
</html>