body {
  padding: 0px 5px;
  margin-top: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.image-container img {
    width: 400px;
    height: 400px;
}

.tabs-container {
    margin-top: 25px;
}

.tab-container {
    margin-top: 25px;
}

.nav-tabs>li {
  float: right;
}

.page-header {
    padding-top: 0px;
    margin-top: 0px;
}

.page-header h3 {
    display: inline-block;
}

#googleMap {
    width:400px; 
    height:400px;
}

.event-form {
    margin-top: 30px;
}

.event-button-group {
    margin-top: 50px;
    padding-top: 30px;
}

a:hover

.profile a {
  color: #00B7FF;
}

.profile {
	float: left;
	height: 200px;
	width: 300px;
	background-color: #efefef;
    color: rgb(255, 255, 255);
    background-color: rgba(155, 155, 255, 0.5);
	padding: 0px 0px;
    padding-right: 0;
	border-radius: 3px;
	margin: 10px 10px;
}

.profile .text {
    padding: 0px 5px;
    height: 200px;
    overflow: hidden;
    background-color: olivedrab;
}

.profile .text:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile .text h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.interest-container {
    margin: 10px 0;
}

.interest-label {
    float: left;
    background-color: olive;
    border-radius: 5px;
    padding: 4px;
    text-size: 1em;
    margin-top: 3px;
    margin-right: 4px;
}

.bottum-aligned {
    position: absolute;
    bottom: 0;
}

.profile .picture {
    padding: 0px 0px;
    margin: 0;
    border: none;

 }

.profile img {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 200px;
    border-style: none;
}

.profile:hover {
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-decoration: none;
    background-color: rbga(0,0,0, .5);
}

.profiles-section {
	padding-top: 20px;
}

.float-left {
    float: left;
}

.clear-left {
	clear: left;
}

.fa-pencil-square-o:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}


 /* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

 .ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
 .ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }