@media (max-width: 768) {
    .event-tabs-container .pull-right-lg {
        float: left;
    }
}

 @media (min-width: 769px) {
    .pull-right-lg {
        float: right;
    }

    .event-tabs-container .nav-tabs > li {
        float: right;
    }
}

* {
    box-sizing: border-box;
}

.view.ng-leave {
  animation: fadeOut 0.5s; 
}

.view.ng-enter {
  animation: fadeIn 0.5s;
}

img { max-width: 100%; }

body {
  padding: 0px 5px;
  margin-top: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.outer-events-container {
    margin-top: 25px;
}

.event-list-item {
    height: 100px;
    width: 80%;
    padding-left: 10px;
    border-radius: 10px;
}

.event-list-item:hover {
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
}
.event-list-item .left-part {
    float: left;
    height: 100px;
    width: 15%;
}

.event-list-item .main-part {
    margin-left: 5%;
    width: 90%;
    height: 100px;
}

.big {
    font-size: 1.8em;
}

.event-list-item .left-part .content-box {
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    background-color: cyan;
    color: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.content-box {

    position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vote-section {
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.image-container img {
    width: 400px;
    height: 400px;
}

.event-tabs-container,  .list-tabs-container {
    margin-top: 25px;
}

.tab-container {
    margin-top: 25px;
}

.page-header {
    padding-top: 0px;
    margin-top: 0px;
}

.page-header h3 {
    display: inline-block;
}

.edit-section h3 {
    float: left;
}

.event-form {
    margin-top: 30px;
}

.event-part {
    margin: 4% 0;
    font-size: 1.1em;
}

.event-participant {
    color: rosybrown;
    font-size: 1.1em;
    border-radius: 3px;
}

.event-button-group {
    margin-top: 20px;
}

.profile {
	float: left;
	height: 300px;
	background-color: #aaa;
	padding: 0px 0px;
    padding-right: 0;
	border-radius: 3px;
	margin: 10px 10px;
    padding: 0px 5px;
    height: 200px;
    overflow: hidden;
}

.profile .text {
    padding: 0px 5px;
    height: 200px;
    overflow: hidden;
    /*background-color: olivedrab;*/
}

.profile .text:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile .text h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-text {
    font-size: 1.2em;
}

.interest-container {
    margin: 10px 0;
}

.interest-label {
    float: left;
    background-color: olive;
    border-radius: 5px;
    padding: 4px;
    text-size: 1em;
    margin-top: 3px;
    margin-right: 4px;
}

.bottum-aligned {
    position: absolute;
    bottom: 0;
}

.profile .picture {
    padding: 0px 0px;
    margin: 0;
    border: none;
 }

.profile img {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 200px;
    border-style: none;
}

.profile:hover {
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-decoration: none;
    background-color: rbga(0,0,0, .5);
}

.profiles-section {
	padding-top: 20px;
}

.float-left {
    float: left;
}

.clear-left {
	clear: left;
}

.fa-pencil-square-o:hover {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.hover:hover {
    cursor: pointer;
}

.left-side {
    height:100vh;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.join-button {
    font-size: 1.2em;
    background-color: grey;
    padding: 10px 20px;
}

.event-status-container {
    position: absolute;
    bottom: 30%;
    font-size: 1.5em;
}

.map-container {
    padding-top: 5%;
}

#googleMap {
    width: 400px;
    height:400px;
}

.profile-image {
    margin: 10px;
    border: 1px solid #666;
    background-color: #CCC;
    padding: 10px;
}

 /* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

 .ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
 .ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }